h1 {
    color:rgb(107, 2, 28);
    
  }
  h2{
    text-align:right;
  }
  body{
    background-color: #aa7fff;
    font-size: large;
    font-family: Impact;
    
  }

  .head{
      background-color: rgb(209, 120, 142);
  }
  
  .foot{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: initial;
   
}
.grid{
  border:solid;
  border-color: white;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  margin: 80px;
}

a:link{
  color: white;
}




